.place-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin-inline: auto;
    width: 87.5%;
    max-width: calc(17.5rem + 4rem);
}

.grid-section{
    --gap: 1.5rem;
    display: grid;
    gap: 1.5rem;
    width: 100%;
    max-width: 35rem; /* 400px */
    margin-inline:auto ;
}

.center-x{
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (min-width: 360px){
    .grid-section{
        width: calc(100% - 3rem);
    }
}

@media screen and (min-width: 734px){
    .container{
        margin-inline: auto ;
        width: 100%;
        max-width: 63.25rem;
    }

    .grid-section{
        max-width: 90rem;
        width: 95%;
    }
}

@media screen and (min-width: 1024px){
    .container{
        max-width: 61.25rem;
    }
}

